{% extends 'base.html.twig' %}

{% block title %}Order form{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function() {
            $('body').on('change', '.order-state', function () {
                var orderId = $(this).data('order-id');
                var orderStateId = $(this).val();

                $.ajax({
                    method: 'PUT',
                    url: '/order/state',
                    data: {
                      orderId: orderId,
                      orderStateId: orderStateId
                    },
                    success: function (response) {
                        // TODO: implement a way to inform the user that the status update has succeeded
                    },
                    error: function (response, status, error) {
                        // TODO: implement a way to inform the user that the status update has failed
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}

    <h1>1. Bestellingen ({{ branchName }})</h1>
    <hr />

    {% if orders is not null %}
        <table>
            <thead>
            <tr>
                <th>Bodem</th>
                <th>Topping</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.bottom.name }}</td>
                        <td>{{ order.topping.name }}</td>
                        <td>
                            <select name="state" class="order-state" data-order-id="{{ order.id }}">
                                {% for state in states %}
                                    {% if (order.status.id == state.id) %}
                                        <option selected value="{{ state.id }}">{{ state.name }}</option>
                                    {% else %}
                                        <option value="{{ state.id }}">{{ state.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Geen bestellingen gevonden.</p>
    {% endif %}

{% endblock %}