{% extends 'base.html.twig' %}

{% block title %}Order form{% endblock %}

{% block body %}

    <h1>1. Pizza keuze</h1>
    <hr />

    {{ form_start(form) }}

        <table>
            <tr>
                <td>{{ form_row(form.branch, {'label': 'branch'}) }}</td>
                <td>{{ form_row(form.bottom, {'label': 'bottom'}) }}</td>
                <td>{{ form_row(form.topping, {'label': 'topping'}) }}</td>
            </tr>
        </table>

        <button type="submit">Plaats bestelling &raquo;</button>

    {{ form_end(form) }}

    <h1>2. Bestellingen</h1>
    <hr />

    <table>
        <thead>
            <tr>
                <th>Pizza</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.getTopping().getName() }} ({{ order.getBottom().getName() }})</td>
                    <td>{{ order.getStatus().getName() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
