<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block style %}
            <style>
                html {
                    padding: 1em;
                    font-family: Arial, serif;
                    color: #333;
                }

                h1 {
                    margin-bottom: .1em;
                }

                table {
                    border-collapse: collapse;
                    margin-bottom: 20px;
                }

                th {
                    text-align: left;
                }

                td {
                    width: 300px;
                    text-align: left;
                    border: 1px solid #333;
                }
            </style>
        {% endblock %}

        {% block javascript %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
            </script>
        {% endblock %}
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('failure') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <table>
            <tr>
                <td><a href="{{ path('home') }}">Klantpagina</a></td>
                <td><a href="{{ path('admin_home', { 'branchId': 1 }) }}">Admin Dominos</a></td>
                <td><a href="{{ path('admin_home', { 'branchId': 2 }) }}">Admin New York Pizza</a></td>
            </tr>
        </table>

        {% block body %}{% endblock %}
    </body>
</html>
